<% @recipes.each do |recipe|%>
  <div class="recipe-card">
    <h2 class="recipe-title"><%= "Recipe #{recipe.id}" %></h2>
    <%= button_to "Delete", recipe_path(recipe), method: :delete, class: "delete-button" %>
    <div class="recipe-description">
      <p><%= recipe.description %></p>
    </div>
  </div>
<%end%>
