<% @recipes.each do |recipe|%>
  <div>
    <h2><%= link_to "Recipe #{recipe.id}",recipe_path(recipe) %></h2>
    <%= button_to "Delete", recipe_path(recipe), method: :delete %>
  </div>
  <div>
    <p><%= recipe.description%></p>
  </div>
<%end%>