<p>Testing</p>
<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe)) do |form| %>
  <%= form.label "Select Ingredient"%>
  <%= form.collection_select(:food_id, @foods_to_select, :id, :name) %> <br><br>
  <%= form.submit "Add ingredient", class: "button" %>
<% end %>